.footer {
    margin-top: 40px;
    border-top: 1px solid lightgrey;
    padding: 20px;
    .red {
        color: var(--secondary-color);
    }
}

@media (min-width: 769px) {
    .footer {
        .nav-list__item:first-child {
            text-decoration: none;
        }
    }
}