.founder {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Oswald", sans-serif;
    &__details {
        order: -1;
        .details__title {
            text-transform: uppercase;
            padding: 10px;
        }
        .details__text {
            font-size: 0.8rem;
            padding: 10px;
            padding-bottom: 20px;
        }
    }
    &__img {
        margin-top: 25px;
        border: 2px solid black;
        border-radius: 30px;
        height: 250px;
        overflow: hidden;
        img {
            object-fit: fill;
            height: 100%;
        }
    }
}

@media (min-width: 769px) {
    .founder {
        max-width: 90vw;
        margin: auto;
        background-color: gray;
        color: white;
        flex-direction: row;
        border-radius: 30px;
        // border: 1px solid black;
        padding: 0;
        margin-top: 25px;
        &__img {
            width: 100%;
            border: none;
            margin-top: 0;
        }
        &__details {
            width: 100%;
        }
    }
}