.mobile-app {
    margin: 10px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    &__text {
        padding: 10px;
    }
    img {
        width: 100px;
        padding: 0;
        margin: 0;
    }
}

@media (min-width: 768px) {
    .mobile-app {
        background-image: url("/assets/Layer 1.png");
        background-repeat: no-repeat;
        background-size: cover;
        border: none;
        margin: 0 auto;
        max-width: 90vw;
    }
}