.music {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__list {
        padding: 0;
    }
}

.mp3-player {
    outline: none;
}

.mp3-player ::-internal-media-controls-download-button {
    display: none;
}

.songs {
    border: none;
    background-color: #fff;
    padding: 5px;
    text-decoration: underline;
    outline: transparent;
    cursor: pointer;
}

@media (min-width: 1025px) {
    .music__list {
        margin: auto;
        display: grid;
        grid-auto-flow: column;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 1fr 1fr 1fr;
    }
}