.music {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mp3-player {
    outline: none;
}

.mp3-player ::-internal-media-controls-download-button {
    display: none;
}

.songs {
    border: none;
    background-color: #fff;
    padding: 5px;
    text-decoration: underline;
    outline: transparent;
}