@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;;400;500;700&display=swap");
.music {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.songs {
  border: none;
  background-color: #fff;
  padding: 5px;
  text-decoration: underline;
  outline: transparent;
}

.artists {
  padding-top: 25px;
}

.artists__subtitle {
  color: var(--secondary-color);
}

.artists .toggle-arrow {
  display: none;
}

.upcoming {
  padding-top: 20px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.upcoming__details {
  padding: 20px;
  font-family: "Oswald", sans-serif;
  color: #333;
}

.details__title {
  font-size: 1.1rem;
  padding: 5px;
}

.details__location {
  color: #000;
  padding: 5px;
  font-size: 0.9rem;
}

.details__location:last-of-type {
  padding-bottom: 25px;
}

.card {
  text-align: center;
  width: 100%;
  margin: auto;
  border: 5px solid black;
  overflow: hidden;
}

.slider-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  /* height: 500px; */
}

img {
  /* object-fit: fill; */
  width: 100%;
}

.img-container {
  width: 80vw;
  position: relative;
}

.img-container img {
  width: 100%;
}

.img-container__text {
  font-size: 1.3rem;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.latest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.founder {
  padding-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Oswald", sans-serif;
}

.founder__details {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.founder__details .details__title {
  text-transform: uppercase;
  padding: 10px;
}

.founder__details .details__text {
  font-size: 0.8rem;
  padding: 10px;
  padding-bottom: 20px;
}

.founder__img {
  margin-top: 25px;
  border: 2px solid black;
  border-radius: 30px;
  height: 250px;
  overflow: hidden;
}

.founder__img img {
  -o-object-fit: fill;
     object-fit: fill;
  height: 100%;
}

.main-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  justify-items: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  position: relative;
  background-color: var(--secondary-color);
}

.main-header .button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  grid-row: 1;
  padding: 0 5px;
}

.main-header .button-container .button-main {
  height: 30px;
  padding: 0 10px;
}

.main-header .hamburger {
  grid-column: 3/-1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main-header .hamburger__link {
  margin-right: 20px;
  width: 30px;
  color: white;
  padding: 5px;
  border-radius: 50%;
}

.main-header .hamburger__link__icon::before {
  width: 15px;
  height: 15px;
}

.logo {
  position: relative;
}

.logo__title {
  font-family: "Great Vibes", cursive;
  font-size: 1.7rem;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-15deg);
          transform: translate(-50%, -50%) rotate(-15deg);
}

.logo__img {
  max-width: 40px;
}

.nav-list,
.social-list {
  padding: 0;
  width: 100vw;
  position: absolute;
  display: none;
  top: var(--main-header);
  left: 0;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background: var(--secondary-color);
  z-index: 2;
}

.nav-list__item,
.social-list__item {
  padding: 10px;
}

.nav-list__item:first-child,
.social-list__item:first-child {
  text-decoration: line-through;
}

.nav-list__link,
.social-list__link {
  font-size: 0.7rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

.active {
  display: -ms-grid;
  display: grid;
}

.hero {
  background-color: #aaa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  position: relative;
}

.hero img {
  position: absolute;
  max-width: 100%;
  min-height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.hero__title {
  z-index: 1;
  font-family: "Oswald", sans-serif;
  font-size: 3.5rem;
  color: var(--secondary-color);
  text-transform: uppercase;
}

.hero__subtitle {
  font-size: 2.5rem;
  z-index: 1;
  color: #000;
}

.hero .button-main {
  z-index: 1;
}

@media (min-width: 768px) {
  .hero {
    overflow: hidden;
  }
}

.mobile-app {
  margin: 10px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
}

.mobile-app__text {
  padding: 10px;
}

.mobile-app img {
  width: 100px;
  padding: 0;
  margin: 0;
}

@media (min-width: 768px) {
  .mobile-app {
    background-image: url("/assets/Layer 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    margin: 0 auto;
  }
}

.social-insta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: blue;
  background-color: #fff;
}

.social-insta .img-tile {
  padding: 10px;
}

.footer {
  margin-top: 40px;
  border-top: 1px solid lightgrey;
  padding: 20px;
}

.footer .red {
  color: var(--secondary-color);
}

:root {
  --main-color: #fff;
  --secondary-color: #df001f;
  --main-header: 55px;
  --hero: calc(100vh - 55px);
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  width: 100vw;
  max-width: 100%;
  text-align: center;
  margin: 0;
  height: 100vh;
  /* opacity: 0.2; */
}

.button-main {
  font-size: 12px;
  background-color: var(--main-color);
  color: var(--secondary-color);
  border: none;
  border-radius: 30px;
  outline: transparent;
  text-transform: uppercase;
  font-family: "Arial";
  font-weight: 700;
  height: 50px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.button-main--standard {
  padding: 13px 20px;
}

.button-main--small {
  padding: 13px 15px;
}

.button-main:hover {
  background-color: var(--secondary-color);
  color: var(--main-color);
}

.reversed {
  background-color: var(--secondary-color);
  color: var(--main-color);
}

.reversed:hover {
  background-color: var(--main-color);
  color: var(--secondary-color);
}

.wrapper {
  width: 100vw;
  max-width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: var(--main-header) var(--hero) 1fr;
      grid-template-rows: var(--main-header) var(--hero) 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

ul {
  list-style: none;
}

h3[class*="__title"] {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.5rem;
  font-family: "Oswald";
  color: #2e2e2e;
}

[class*="subtitle"] {
  font-family: "Great Vibes", cursive;
  color: var(--secondary-color);
  font-size: 1.5rem;
  font-weight: 500;
}

.toggle-arrow {
  display: none;
}

.special-curved {
  font-size: 2rem;
  font-family: "Great Vibes", cursive;
}
/*# sourceMappingURL=global-styles.css.map */